<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="isModal">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Shop</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div class="inventory-list">

    </div>
    
</ion-content>
